<body>
  <div class="container">
  <h3>{{user.login|uppercase}}'s Account</h3>
<div class="card" style="width: 45rem;" id= "myGitHub">
  <br>
  
  <div class="row">
    <div id ="myName" class="col-md-6">
      <img src={{user.avatar_url}} alt="avatar">
      <p appItalic >@{{user.login}}</p>
    </div>
  <div class="col-md-6"> 
   <p> Name: {{user.name}}</p>
   <p>Bio: {{user.bio}}</p>
   <p>Followers: {{user.followers}}</p>
   <p>Following : {{user.following}}</p>
   <p>Public Repos : {{user.repos}}</p>
   <p>Created on :{{user.created_at|date}}, ({{user.created_at|dateCount}} day(s) ago</p>
   <p>Url :<a href={{user.url}}> {{user.url}} </a></p>
   <button (click) = "viewRepos()" class="btn btn-outline-info">View repos</button>
   <br><br>

  </div></div>
</div>
<app-repo-info *ngIf='user.displayRepos' [repos] = 'repos'></app-repo-info>

 
</div></body>