<form>
  <div class = "form-group">
    <label for="userName"> Search for User</label>
    <div class ="row">
      <div class="col-md-6">
        <input type="text" name= "userName" required class="form-control" id="userName"  placeholder = "Type user's name here" #userName >
      </div>
      <div class="col-md-6">
        
      </div>
      </div>

      <label for="userName"> Search for Repo</label>
    <div class ="row">
      <div class="col-md-6">
        <input type="text" required class="form-control" name="userRepo" id="userRepo" placeholder = "Type repo's name here" #userRepo>
      </div>
      <div class="col-md-6">  
      </div>
      </div>
      </div>
    </form>
