<div class ="container">
<div class="card" style="width: 40rem;" id= "myGitHub">
    <div class="row">
      <div id ="myName" class="col-md-6">
        <img src={{user.avatar_url}} alt="avatar">
        <p>{{user.name}}</p>
      </div>
    <div class="col-md-6"> 
     <p> Name: {{user.name}}</p>
     <p>Bio: {{user.bio}}</p>
     <p>Url: {{user.url}}</p>
     <p>Followers: {{user.followers}}</p>
     <p>Following : {{user.following}}</p>
     <p>Public Repos : {{user.repos}}</p>
     <button type ="submit" class="btn btn-outline-success">View repos</button>
     
  </div></div>
</div>
<br>
  <form>

    <div class = "form-group">
      <label for="userName"> Search for User</label>
      <div class ="row">
        <div class="col-md-6">
          <input type="text" required class="form-control" id="userName" placeholder = "Type user's name here">
        </div>
        <div class="col-md-6">
          <button type ="submit" class="btn btn-outline-success">Search user</button>
        </div>
        </div>
  
        </div>
      </form>
</div>
